---
import { queryPost } from '../../shared/queries'
import Layout from '../../layouts/Layout.astro'

import type { PostProp } from '../../types'
import { formatDate } from '../../utils/utils'
const { slug } = Astro.params
if (!slug) return `<p>Provide slug</p>`
const post = (await queryPost(slug)) as PostProp
---

<Layout title={`${slug} | Ks Ostrovia`}>
	<article class="text-primary">
		<h1 class="mb-3 mt-5 text-3xl font-bold">{post.title}</h1>
		<figure>
			<img
				class="aspect-video w-full"
				src={post.featuredImage?.node.mediaItemUrl}
				alt={post.featuredImage?.node.altText}
				width={post.featuredImage?.node.mediaDetails.width}
				height={post.featuredImage?.node.mediaDetails.height}
			/>
		</figure>
		<time class="mb-3 block text-gray-800">{formatDate(Number(post.date))}</time>
		<p set:html={post.content} />
	</article>
</Layout>
