---
import type { PostProp } from '../types'
type BlogPostProp = {
	post: PostProp
}
const { post } = Astro.props as BlogPostProp
const { thumbnails = false } = Astro.props
---

<picture class="relative block overflow-hidden">
	<img
		class="aspect-video w-full transition-transform group-hover/image:scale-110 group-hover/image:transform"
		src={post.featuredImage.node.mediaItemUrl}
		alt={post.featuredImage.node.altText}
		width={post.featuredImage.node.mediaDetails.width}
		height={post.featuredImage.node.mediaDetails.height}
	/>
</picture>
<article class="w-full">
	<h1 class="my-4 text-2xl font-bold">{post.title}</h1>
	{!thumbnails ? <p set:html={post.excerpt} /> : null}

	<!--<p set:html={post.content} />-->
</article>
