---
import { queryLogo, queryMenuItems, querySiteTitle } from '../shared/queries'
import type { MenuItem } from '../generated/graphql'
import { routes } from '../shared/routes'
import MenuItems from './Menu/MenuItems.astro'

const siteTitle = await querySiteTitle()
const logo = await queryLogo()
const menuItems = (await queryMenuItems()) as MenuItem[]
---

<header
	class="md-pb-20 m-auto flex w-full items-center justify-between px-3 pb-10 md:w-[800px] lg:w-[1200px] lg:max-w-[calc(100%-2rem)]"
>
	<a href={routes.home} class="flex items-center gap-5">
		<img
			class="max-w-[25%]"
			src={logo.mediaItemUrl}
			alt={logo.altText}
			width={logo.mediaDetails.width}
			height={logo.mediaDetails.height}
		/>
		<div class="hidden text-5xl font-bold md:block">
			{siteTitle}
			<span class="block text-2xl">Ostrów Mazowiecka</span>
		</div>
	</a>
	<!--<div class="space-y-2">-->
	<!--	<span class="block h-0.5 w-5 bg-primary-1"></span>-->
	<!--	<span class="block h-0.5 w-8 bg-primary-1"></span>-->
	<!--	<span class="block h-0.5 w-8 bg-primary-1"></span>-->
	<!--</div>-->
	<MenuItems items={menuItems} />
</header>
