---
import { queryLogo, queryMenuItems, querySiteTitle } from '../shared/queries'
import type { MenuItem } from '../generated/graphql'
import { routes } from '../shared/routes'
import MenuItems from './Menu/MenuItems.astro'

const siteTitle = await querySiteTitle()
const logo = await queryLogo()
const menuItems = (await queryMenuItems()) as MenuItem[]
---

<header
	class="md-pb-20 m-auto flex w-full items-center justify-between px-3 pb-10 lg:w-[1200px] lg:max-w-[calc(100%-2rem)]"
>
	<a href={routes.home} class="flex items-center gap-5">
		<img
			class="max-w-[25%]"
			src={logo.mediaItemUrl}
			alt={logo.altText}
			width={logo.mediaDetails.width}
			height={logo.mediaDetails.height}
		/>
		<div class="hidden text-5xl font-bold md:block">
			{siteTitle}
			<span class="block text-2xl">Ostrów Mazowiecka</span>
		</div>
	</a>
	<MenuItems items={menuItems} logo={logo} />
</header>
